:root {
  --bg-color-angle: 3.927rad;
}

body, body * {
  all: unset;
}

body {
  display: block;
  width: 100%;
  height: 100vh;
  background: linear-gradient(24deg, hsl(var(--bg-color-angle) 100% 5%) 0%, hsl(var(--bg-color-angle) 100% 15%) 100%);
}

.front {
  position: absolute;
  inset: 0;
  display: block;
  opacity: 25%;
}

.back {
  position: absolute;
  inset: 0;
  display: block;
  opacity: 35%;
}