body, body * {
  all: unset;
}

body {
  display: block;
  width: 100%;
  height: 100vh;
  background: linear-gradient(24deg, #221330 0%, #42146b 100%);
}

.front {
  display: block;
  opacity: 25%;
}